# Python 缓存
__pycache__/
*.py[cod]

# 环境变量 (包含key，千万别上传)
.env

# Docker 挂载的数据目录
neo4j_data/
etcd_data/
milvus_data/
minio_data/

#测试配置
test_db/

# IDE 配置
.vscode/
.idea/

# 依赖包
venv/
anaconda3/

# 大文件/模型权重
*.pth
*.ckpt
logs/

# 测试代码
tests/
learningDoc/